body{
   background-color: rgb(123, 84, 160);
}
h1{
    text-align: center;
    color: white;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}
h2{
    color: whitesmoke;
    text-align: center;
    font-size: 28px;
}